<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="ko">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="10">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>광고</title>
</head>
<body>
<script type="text/javascript">
    window.onload = function () {
        $.ajax({
            type: "GET",
            url: "/dsp/v1/advertisement/",
            contentType: "application/json"
        }).done(function(data) {
            var str = '';
            $.each(data, function(i) {
                str += '<tr>';
                str += '<td>' + data[i].title + '</td>';
                str += '<td><img src="http://localhost:8081/images/' + data[i].image + '" style="width: 300px; height: 100px;"></td>';
                str += '<td>' + data[i].price + '</td>';
                str += '<td>' + data[i].createdDate + '</td>';
                str += '<td>' + data[i].updatedDate + '</td>';
                str += '<td>' + data[i].score + '</td>';
                str += '</tr>';
            });
            $('#creativeList').append(str);
        }).fail(function(err) {
            alert(err.responseJSON.message);
        })
    }
</script>
<div>
    <table id="creativeList" border="1" width="100%">
        <tr>
            <td>
                제목
            </td>
            <td>
                이미지
            </td>
            <td>
                낙찰가
            </td>
            <td>
                등록일시
            </td>
            <td>
                수정일시
            </td>
            <td>
                점수
            </td>
        </tr>
    </table>
</div>
</body>
</html>