<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="ko">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="10">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>광고</title>
</head>
<body>
<script type="text/javascript" src="/js/advertise.js"></script>
<div>
    <table id="creativeList" border="1" width="100%">
        <tr>
            <td>
                제목
            </td>
            <td>
                이미지
            </td>
            <td>
                낙찰가
            </td>
            <td>
                등록일시
            </td>
            <td>
                수정일시
            </td>
            <td>
                점수
            </td>
        </tr>
    </table>
</div>
</body>
</html>