<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>광고 등록</title>
</head>
<body>
<script type="text/javascript" src="/js/create.js"></script>
<div>
  <form id="createForm">
    <fieldset>
      <table>
        <tr>
          <th>제목</th>
          <td><input type="text" name="title" required="required"></td>
        </tr>
        <tr>
          <th>낙찰가</th>
          <td><input type="number" name="price" required="required"></td>
        </tr>
        <tr>
          <th>이미지파일</th>
          <td><input type="file" name="images" required="required"></td>
        </tr>
        <tr>
          <th>시작일자</th>
          <td><input type="datetime-local" name="advertiseStartDate" required="required"></td>
        </tr>
        <tr>
          <th>종료일자</th>
          <td><input type="datetime-local" name="advertiseEndDate" required="required"></td>
        </tr>
        <tr>
          <td> <input type="button" value="등록" onclick="create()"> </td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>
<a href="/">광고 목록</a>
</body>
</html>