<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>광고 상세 정보</title>
</head>
<body>
<script type="text/javascript" src="/js/detail.js"></script>
<input hidden type="text" id="updateId" th:value="${creative.id}">
<div>
    <fieldset>
        <form id="detailForm">
            <table>
                <tr>
                    <th>제목</th>
                    <td><input id="title" th:value="${creative.title}" type="text" name="title" readonly></td>
                </tr>
                <tr>
                    <th>상태</th>
                    <td><p th:text="${creative.status}"></p></td>
                </tr>
                <tr>
                    <th>낙찰가</th>
                    <td><input id="price" th:value="${creative.price}" type="number" name="price" readonly></td>
                </tr>
                <tr>
                    <th>이미지</th>
                    <td><img th:src="'http://localhost:8081/images/' + ${creativeImage.id + '.' + creativeImage.extension}" width="300px" height="300px"></td>
                </tr>
                <tr>
                    <th>수정할 이미지</th>
                    <td><input id="image" th:content="${creativeImage.id + '.' + creativeImage.extension}" type="file"  name="images" disabled></td>
                </tr>
                <tr>
                    <th>시작일시</th>
                    <td><input id="advertiseStartDate" th:value="${creative.advertiseStartDate}" type="datetime-local" name="advertiseStartDate" readonly></td>
                </tr>
                <tr>
                    <th>종료일시</th>
                    <td><input id="advertiseEndDate" th:value="${creative.advertiseEndDate}" type="datetime-local" name="advertiseEndDate" readonly></td>
                </tr>
                <tr>
                    <th>등록일시</th>
                    <td><p th:text="${creative.createdDate}"></p></td>
                </tr>
                <tr>
                    <th>수정일시</th>
                    <td><p th:text="${creative.updatedDate}"></p></td>
                </tr>
            </table>
        </form>
        <button id="btn-pause" onclick="pause()" th:hidden="${creative.status.toString() == 'PAUSE'}" th:disabled="${creative.status.toString() != 'ADVERTISING' AND creative.status.toString() != 'WAITING'}">일시정지</button>
        <button id="btn-pause-cancel" onclick="pauseCancel()" th:hidden="${creative.status.toString() != 'PAUSE'}">일시정지 해제</button>
        <button id="btn-update" onclick="update()" hidden>수정</button>
        <button id="btn-update-cancel" onclick="updateCancel()" hidden>취소</button>
        <button id="btn-update-mode" onclick="updateMode()">수정</button>
        <button id="btn-delete" onclick="deleteCreative()">삭제</button>
    </fieldset>
</div>
<a href="/">광고 목록</a>
</body>
</html>