<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>광고 상세 정보</title>
</head>
<body>
<script type="text/javascript">
    function update() {
        var form = $('#detailForm')[0];
        var data = new FormData(form);
        var id = $('#updateId').val();

        $.ajax({
            type: "PUT",
            url: "/core/v1/creative/" + id,
            enctype: 'multipart/form-data',
            data: data,
            contentType: false,
            processData: false,
            cache: false
        }).done(function() {
            alert("수정 성공");
        }).fail(function(err) {
            alert("수정 실패");
            console.log(err);
        })
    }
    function deleteCreative() {
        var confirm = window.confirm("정말로 삭제하시겠습니까?");
        var id = $('#updateId').val();

        if(confirm){
            $.ajax({
                type: "DELETE",
                url: "/core/v1/creative/" + id + "/"
            }).done(function() {
                alert("삭제가 성공하였습니다.");
                location.href ='/';
            }).fail(function(err) {
                alert("삭제 실패");
                console.log(err);
            })
        } else {
            alert("삭제가 취소되었습니다.");
        }
    }
    function updateMode() {
        document.getElementById("btn-update").removeAttribute("hidden");
        document.getElementById("btn-update-mode").setAttribute("hidden", "hidden");
        document.getElementById("updateImage").removeAttribute("hidden");

        document.getElementById("title").removeAttribute("readonly");
        document.getElementById("price").removeAttribute("readonly");
        document.getElementById("advertiseStartDate").removeAttribute("readonly");
        document.getElementById("advertiseEndDate").removeAttribute("readonly");
    }
</script>
<input hidden type="text" id="updateId" th:value="${creative.id}">
<div>
    <fieldset>
        <form id="detailForm">
            <table>
                <tr>
                    <th>제목</th>
                    <td><input type="text" id="title" name="title" th:value="${creative.title}" readonly="readonly"></td>
                </tr>
                <tr>
                    <th>낙찰가</th>
                    <td><input type="number" id="price" name="price" th:value="${creative.price}" readonly="readonly"></td>
                </tr>
                <tr>
                    <th>이미지</th>
                    <td><img id="image" th:src="'http://localhost:8081/images/' + ${creativeImage.name}" width="300px" height="100px"></td>
                </tr>
                <tr id="updateImage" hidden="true">
                    <th>수정할 이미지</th>
                    <td><input type="file" name="images"></td>
                </tr>
                <tr>
                    <th>시작일자</th>
                    <td><input type="datetime-local" id="advertiseStartDate" name="advertiseStartDate" th:value="${creative.advertiseStartDate}" readonly="readonly"></td>
                </tr>
                <tr>
                    <th>종료일자</th>
                    <td><input type="datetime-local" id="advertiseEndDate" name="advertiseEndDate" th:value="${creative.advertiseEndDate}" readonly="readonly"></td>
                </tr>
            </table>
        </form>
        <button id="btn-update" onclick="update()" hidden>수정하기</button>
        <button id="btn-update-mode" onclick="updateMode()">수정</button>
        <button id="btn-delete" onclick="deleteCreative()">삭제</button>
    </fieldset>
</div>
<a href="/">광고 목록</a>
</body>
</html>