<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
    window.onload = function () {
        var str = '';

        $.ajax({
            type: "GET",
            url: "/core/v1/creative/",
            contentType: "application/json",
            success: function(data) {
                $.each(data, function(i) {
                    str += '<tr>';
                    str += '<td>' + data[i].id + '</td>';
                    str += '<td>' + data[i].title + '</td>';
                    str += '<td>' + data[i].price + '</td>';
                    str += '<td>' + data[i].status + '</td>';
                    // Image 변경예정 (static 폴더에 저장하고, 불러오는 방식)
                    str += '<td><img src="http://localhost:8081/images/' + data[i].creativeImages[0].id + '.' + data[i].creativeImages[0].extension + '" style="width: 300px; height: 100px;"></td>';
                    str += '<td>' + data[i].creativeCount.count + '</td>';
                    str += '<td>' + '<input type="button" value="삭제" onclick="deleteCreative(' + data[i].id + ')">' + '</td>';
                    str += '</tr>';
                });
                $('#creativeList').append(str);
            },
            error: function(e) {
                console.log("Error: " + e);
            }
        })
    }
    function create() {
        var form = $('#createForm')[0];
        var data = new FormData(form);

        $.ajax({
            type: "POST",
            url: "/core/v1/creative/",
            enctype: 'multipart/form-data',
            data: data,
            contentType: false,
            processData: false,
            cache: false,
            success: function(data) {
                console.log(data);
            },
            error: function(e) {
                console.log(e);
            }
        })
    }
    function update() {
        var form = $('#updateForm')[0];
        var data = new FormData(form);
        var id = $('#updateId').val();

        $.ajax({
            type: "PUT",
            url: "/core/v1/creative/" + id,
            enctype: 'multipart/form-data',
            data: data,
            contentType: false,
            processData: false,
            cache: false,
            success: function(data) {
                console.log(data);
            },
            error: function(e) {
                console.log(e);
            }
        })
    }

    function deleteCreative(id) {
        $.ajax({
            type: "DELETE",
            url: "/core/v1/creative/" + id + "/",
            success: function(data) {
                console.log(data);
            },
            error: function(e) {
                console.log(e);
            }
        })
    }
</script>
<div>
    <!--등록 폼-->
    <form id="createForm" style="float:left">
        <fieldset>
            <table>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" required="required"></td>
                </tr>
                <tr>
                    <th>낙찰가</th>
                    <td><input type="number" name="price" required="required"></td>
                </tr>
                <tr>
                    <th>이미지파일</th>
                    <td><input type="file" name="images" required="required"></td>
                </tr>
                <tr>
                    <th>시작일자</th>
                    <td><input type="datetime-local" name="advertiseStartDate" required="required"></td>
                </tr>
                <tr>
                    <th>종료일자</th>
                    <td><input type="datetime-local" name="advertiseEndDate" required="required"></td>
                </tr>
                <tr>
                    <td> <input type="button" value="등록" onclick="create()"> </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <!--수정 폼-->
    <form id="updateForm" style="float: left">
        <fieldset>
            <table>
                <tr>
                    <th>아이디</th>
                    <td><input type="text" id="updateId" required></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <th>낙찰가</th>
                    <td><input type="number" name="price"></td>
                </tr>
                <tr>
                    <th>이미지파일</th>
                    <td><input type="file" name="images"></td>
                </tr>
                <tr>
                    <th>시작일자</th>
                    <td><input type="datetime-local" name="advertiseStartDate"></td>
                </tr>
                <tr>
                    <th>종료일자</th>
                    <td><input type="datetime-local" name="advertiseEndDate"></td>
                </tr>
                <tr>
                    <td> <input type="button" value="수정" onclick="update()"> </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<div style="clear: both">
    <table id="creativeList" border="1" width="55%">
        <tr>
            <td>
                Id
            </td>
            <td>
                제목
            </td>
            <td>
                낙찰가
            </td>
            <td>
                상태
            </td>
            <td>
                이미지
            </td>
            <td>
                노출횟수
            </td>
        </tr>
    </table>
</div>
</body>
</html>