<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>광고 목록</title>
</head>
<body>
<script type="text/javascript" src="/js/home.js"></script>
<a href="/create">광고 등록</a>
<div>
    <table id="creativeList" border="1" width="100%">
        <tr>
            <td>
                ID
            </td>
            <td>
                제목
            </td>
            <td>
                상태
            </td>
            <td>
                낙찰가
            </td>
            <td>
                광고시작일시
            </td>
            <td>
                광고종료일시
            </td>
            <td>
                노출횟수
            </td>
        </tr>
    </table>
</div>
</body>
</html>